<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>apdev-mp2</title>
    <link rel="stylesheet" href="../../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Overpass">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Share+Tech">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link rel="stylesheet" href="../../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../../assets/css/styles.css">
</head>

<body>
    <div class="d-flex flex-row" id="navbar"><img id="logo" src="../../assets/img/icons/logov1.png">
        <div></div>
        <form method="POST" action="search" id="search"><input class="form-control d-inline-block input-class" type="text" id="name" name="search"placeholder="Search..."><img src="../../assets/img/icons/search.png" type="submit" value="submit"width="20px"></form>
        <div id="nav-options"><a class="options" href="/">Home</a><a class="options" href="#">My List</a><a class="options" href="#">Browse</a><a class="options" href="../views/login.html">Login</a><form action="/renderRegister" style="display:inline block"><button type="submit" class="btn btn-primary d-inline-block" id="sign-up" type="button" style="font-family: Overpass, sans-serif;">Sign Up</button></div></form>
    </div>
    <script src="../../assets/js/jquery.min.js"></script>
    <script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>