<html>
    <body>
        <div>
            Hello, {{user.username}}<br>
            Your email is {{user.email}}
        </div>
        <div>
            <br>
            My Game List:
        <br><br>
        {{#each user.gameList}}
            <div>   {{this.game.name}}</div>
            <div>   {{this.status}}</div>
            <br>
        {{/each}}
        </div>
    </body>
</html>