<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    {{#if user}}
        {{> navbar-user}}
    {{#if isAdmin}}
        {{> prof-nav-admin}}
    {{else}}
        {{> prof-nav}}
    {{/if}}
    {{/if}}
    <div class="container">
        <h2 class="prof-header" style="font-size: 20px; margin-top: 30px;">Add a Game</h2>
        <form id="addGame" method="post" class="form-grid">
            <label class="form-label" for="gameName">Name</label><input type="text" class="gameInput" name="gameName" placeholder="ex. VALORANT">
            <label class="form-label" for="publisher">Publisher</label><input type="text" class="gameInput" name="publisher" placeholder="ex. Riot Games">
            <label class="form-label" for="publishDate">Date Published</label><input type="date" class="gameInput" name="publishDate">
            <label class="form-label">Description</label><textarea class="add-texta" name="gamedesc" placeholder="Add Description Here"></textarea>
            <label class="form-label">Genre</label>
            <div style="margin-top:10px;">
                <input class="gameInput" name="genre">
            </div>
            <label class="form-label">Platforms</label>
            <div style="margin-top:10px;">
                <input class="gameInput" name="platform">
            </div>
            <button type="button" id="submitGame" class="submit-game">Submit</button>
        </form>
    </div>
</body>
</html>