<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>apdev-mp2</title>
</head>

<body>
    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder" id="login-holder"></div>
            <form id="login-form" method="post">
            <h2 class="text-center">Login.</h2>
            <div class="warning-div"><i class="fa fa-warning"></i><span id="err-login" style="margin-left: 9px;"></span></div>
            <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username"></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
            <div class="form-group"><button id="login-btn" class="btn btn-primary btn-block" type="button" style="color: #f5f6f7;">Log In</button></div><a class="already" href="/register">Don't have an account? Register</a></form>
        </div>
    </div>
</body>

</html>

