<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>apdev-mp2</title>
</head>
<body>
    {{#if user}}
        {{> navbar-user}}
        {{> prof-nav}}
    {{/if}}
    <div class="container">
        asdashfhfkjdshdskjgkjkjds
    </div>
</body>
</html>