<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register</title>
</head>

<body>
    <div class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form id="regForm" method="post">
                <h2 class="text-center"><strong>Create</strong> an account.</h2>
                    <div class="warning-div"><i class="fa fa-warning"></i><span id="err-register" style="margin-left: 9px;"></span></div>
                <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username"></div>
                <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
                <div class="form-group"><input class="form-control" type="password" name="cPass" placeholder="Confirm Password"></div>
                <div class="form-group"><button id="sign-up" class="btn btn-primary btn-block" type="button">Sign Up</button></div><a class="already" href="/login">Already have an account? Login here.</a></form>
        </div>
    </div>
</body>

</html>