<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>apdev-mp2</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Overpass">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Share+Tech">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link rel="stylesheet" href="../assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
</head>

<body>
    {{> navbar}}
    <div class="container">
        <div id="home-content">
            <form>
                <div class="form-row" style="text-align: center;margin-top: 50px;">
                    <div class="col"><img class="d-inline-block" src="../assets/img/icons/logov1.png"></div>
                </div>
                <div class="form-row">
                    <div class="col" style="text-align: center;"><input class="form-control d-inline-block home-search" type="text" placeholder="Search"><img class="d-inline-block" src="../assets/img/icons/search.png" style="width: 30px;margin-left: 20px;"></div>
                </div>
            </form>
            <div id="top-rated">
                <h3 class="text-left head-home">TOP RATED</h3>
                <div class="home-cards">
                    <div class="card d-inline-block"><img class="card-img-top w-100 d-block card-img" src="../assets/img/sample/Fate_stay_night_2006_Poster.jpg">
                        <div class="card-body">
                            <h5 class="card-heading">Fate/stay night</h5>
                        </div>
                    </div>
                    <div class="card d-inline-block"><img class="card-img-top w-100 d-block card-img" src="../assets/img/sample/Valorant.jpg">
                        <div class="card-body">
                            <h5 class="card-heading">VALORANT</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div id="most-popular">
                <h3 class="text-left head-home">MOST PLAYED</h3>
                <div class="home-cards">
                    <div class="card d-inline-block"><img class="card-img-top w-100 d-block card-img" src="../assets/img/sample/Fate_stay_night_2006_Poster.jpg">
                        <div class="card-body">
                            <h5 class="card-heading">Fate/stay night</h5>
                        </div>
                    </div>
                    <div class="card d-inline-block"><img class="card-img-top w-100 d-block card-img" src="../assets/img/sample/Valorant.jpg">
                        <div class="card-body">
                            <h5 class="card-heading">VALORANT</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/js/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>